
.creation_block {
  padding: 20px 0;
}

.creation_link {
  font-size: 25px;
}



.choose_header {
   padding: 10px 0;
  
}

.choose_text {
  float: left;
  font-size: 20px;
  margin-right: 30px;
}


.category_block{
  padding: 20px 0;
  float: left;
}

.other {
  display:block; 
  width: 240px;
  height: 180px;
}

.other a {
  position: relative;
  top: 160px;
}