.allin {
  background-color: rgba(0,0,0,0);
  position: absolute;
  top: 0;
  right: 0;
  width:100%; 
  height: 100%;
  display: none;
}


.card_image{
  width: 200px;
  height: 150px;
  background-size: cover;
  background-position: center center;
  
}

.add_card_icon {
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  top: 30px;
  left: 75px;
}

.card_text {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  padding: 5px 0;
  position: relative;
  top: -90px;
  background-color: rgba(255, 255, 255, 0.7);
}

.content li:hover .card_text {
  background-color: rgba(255, 255, 255, 0.8);
}

.add_card_text{
  width: 200px;
  text-align: center;
  position: relative;
  top: -60px;
  background-color: rgba(10,10,10, 0);
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
}

.add:hover  p, .add:hover i{
  color: #fff;
}

.add:hover .addImg {
  background-color: rgba(10,10,10, 0.4);
}

.side {
  width: 230px;
  padding: 10px 10px;
  float: left;
}


._image {
  height: 150px;
  width: 200px;
}


.top {
  height: 20px;
}

.check {
  padding: 10px;
}

.add:hover, .closebutton:hover {
  cursor: pointer;
}

.add_button {
  float: right;
  margin: -10px 10px 10px 10px;
  padding: 2px;
  border: 3px solid #55e1af;
  background-color: #55e1af;
  color: #fff;
}

.add_button:hover {
  border: 3px solid #44d09e;
  background-color: #44d09e;
}

.add_button:active {
  border-left: 3px solid #22ae7c;
  border-top: 3px solid #22ae7c;
}

.add_block {
  visibility: hidden;
  opacity: 0;
  transition: 0.4s 0s;
  z-index: 2; 
  width:500px; 
  position: fixed;
  right: 50%;
  top: 50%;
  margin-top: -200px;
  margin-right: -250px; 
  box-shadow: 0 0 15px 5px  #99fad1; 
  border: 1px solid rgb(235,245,255); 
  background-color: rgb(255,255,255); 
}

.closebutton {
  color: #777;
  position: relative;
  right: -5px;
  top: 0px;
  height:20px; 
  width:20px; 
  float:right      
}
