.center1 {
    margin: 0 50%;
}

.content  {
  position: relative;
  right: 250px;
}

.card_block {
  position: relative;
  top: 20px;
}

.card_text {
  width: 500px;
  height: 100%;
  text-align: center;
  padding: 5px 0;
  position: relative;
  top: -400px;
  background-color: rgba(255, 255, 255, 0.7);
}

.card_image {
  width: 500px;
  height: 400px;
  background-color: #fa78ac;
  background-size: cover;
  background-position: center center;
}


.flip {
  width: 500px;
  padding: 30px 0;
  text-align: center;
  background-color: #64f2b0;
  font-weight: bold;
  color: #fff;
}

.flip:hover {
  background-color: #55e1af;
}

.flip i {
  display: inline-block;
  color: #fff;
}

.buttons {
	width: 500px;
	margin-top: 10px;
   float: left;
}

.buttons button {
   height: 30px;
	width: 100px;
	background-color: #44a2ff;
	border: 1px solid #44a2ff;
	color: #fff;
   margin: 10px;
}

.buttons button:hover {
  	background-color: #2291ff;
	border: 1px solid #2291ff;
}


.buttons i {
  margin: 2px;
  color: #fff;
}

.cimg1 {
  background-image: url("images/who.jpg");
}

.cimg2 {
  background-image: url("images/cat.jpg");
}
