.header{
  font-size: 40px;
  text-align: center;
  padding: 80px 0 40px 0;
}
.center{
  margin: 0 200px 0 200px;
}

.mainImage{
  height: 300px;
  width: 400px;
  display: block;
  float: left;
  margin: 0 30px 10px 10px;
  background-size: cover;
  background-position: center center; 
  background-image: url("images/main.jpg");
}

.right {
  float: right;
}

.rightText{
  width: 400px;
  margin-right: 10px;
}

button {
  margin-left: 50%;
}