.header{
  font-size: 40px;
  text-align: center;
  padding: 80px 0 40px 0;
}
.center{
  margin: 0 240px 0 240px;
}

.mainImage{
  height: 300px;
  width: 400px;
  display: block;
  float: left;
  margin: 0 10px 10px 10px;
  background-size: cover;
  background-position: center center; 
  background-image: url("images/main.jpg");
}

.right {
  float: right;
}

.rightText{
  width: 400px;
  margin-right: 10px;
}

.bigFriendlyButton, .button{
  float: right;
  margin: 10px 10px 10px 200px;
}

.bigFriendlyButton{
	height: 50px;
	width: 200px;
}

.button {
   height: 30px;
	width: 100px;
}