* {
margin: 0;
padding: 0;
color: black;
}

a, a i {
  text-decoration: none;
  color: #0069dd;
}


/*HEADER*/
.header {
  width: 100%;
  height: 60px;
  padding-top: 10px;
}

.header li {
  float: left;
  padding: 10px 10px;
  margin: 10px 10px;
  display: inline-block;
}

.header .last {
  float: right;
}

.header .active {
  font-size: 40px;
  margin: 0 10px;
  padding: 5px 10px;
}


/*CONTENT*/
.center {
	width: 95%;
	margin-left: 5%;
}


.content li {
  display: block;
  float: left;
  padding: 10px 19px 0 19px;
}

.content ul .set {
  width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  padding: 5px 0;
  position: relative;
  top: -28px;
  background-color: rgba(255, 255, 255, 0.7);
}

.addText {
  top: -60px;
  text-align: center;
  padding: 5px 0;
  position: relative;
  background-color: rgba(10,10,10, 0);
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
}

.content li .icons {
  visibility: hidden;
  opacity: 0;
  position: relative;
  width: 34px;
  top: -210px;
  left: 200px;
  padding: 2px 2px 2px 4px;
  background-color: rgba(255, 255, 255, 0.7);
}

.content li:hover .icons {
  opacity: 1;
  visibility: visible;
  transition: 0.3s 0.1s;
}


/*IMAGES*/
.image{
  width: 240px;
  height: 180px;
  background-size: cover;
  background-position: center center;
  
}

.img1 {
  background-image: url("images/albums/1.jpg");
}

.img2 {
  background-image: url("images/albums/2.jpg");
}
.img3 {
  background-image: url("images/albums/3.jpg");
}
.img4 {
  background-image: url("images/albums/4.jpg");
}
.img5 {
  background-image: url("images/albums/5.jpg");
}
.img6 {
  background-image: url("images/albums/6.jpg");
}
.img7 {
  background-image: url("images/albums/7.jpg");
}
.img8 {
  background-image: url("images/albums/8.jpg");
}
.img9 {
  background-image: url("images/albums/9.jpg");
}
.addImg {
  background-color: rgba(10,10,10, 0.3)
}

.addIcon {
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  top: 30px;
  left: 85px;
}





















