<!doctype html> 
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style/user_style.css" />
    <link rel="stylesheet" type="text/css" href="style/add_style.css" />
    <link rel="shortcut icon" href="style/images/icon.gif" />
    <link rel="stylesheet" href="style/font-awesome-4.4.0/css/font-awesome.min.css" />
    <script type="text/javascript" src="javascript/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="javascript/login.js"></script>  
    <title>Добавить набор</title>
  </head>
  <body>
    <div class="header"> 
      <ul>
        <li><a href="/"><i class="fa fa-chevron-left"></i> Назад</a></li>
        <li class="active">Добавить набор</li>
        <li class="last"><a href="/exit"><i class="fa fa-sign-out"></i>Выход</a></li>
      </ul>   
    </div>    
    <div class="center content"> 
    <div class="creation_block"><a href="/create_set" class="creation_link"><i class="fa fa-plus"></i> Создать свой</a></div>

      <div class="add_block" id="add_block">
        <form name="cardset_creation_form" method="POST" action="/create_set">
          <div class="top"><i class="fa fa-times closebutton" id="hide"></i></div>
          <div><input type="text" class="set_name" placeholder="Название альбома" autofocus= "true" name="title" /></div>
          <ul>
            <li>
              <a class="addlink" href="/add" >
                <div class="setImage addImg"> <i class="fa fa-plus addIcon fa-5x"></i></div>
                <p class="addText">Добавить обложку набора</p>
              </a>
            </li>
            <input type="file" name="cover" onchange="sendImage('setcover')"/>
            <li>
              <div class="choose">Выберете одну или несколько категорий:</div>
              <ul class="categories_list">
                <li><input type="checkbox" name="tags" value="1" />Языки</li>
                <li><input type="checkbox" name="tags" value="2" />Физика</li>
                <li><input type="checkbox" name="tags" value="3" />Математика</li>
                <li><input type="checkbox" name="tags" value="4" />Программирование</li>
                <li><input type="checkbox" name="tags" value="5" />Биология</li>
                <li><input type="checkbox" name="tags" value="6" />Химия</li>
                <li><input type="checkbox" name="tags" value="7" />История</li>
                <li><input type="checkbox" name="tags" value="8" />Искусство</li>
              </ul>
            </li>
          </ul>
          <div class="check"><input type="checkbox" name="privacy" />Закрытый</div>
          <button class="add_button">Создать альбом</button>
        </form>
      </div>

    </div>
    <div class="choose_header">  
      <p class="choose_text">Выбрать существующий : </p>
      <input type="search" name="search" placeholder="Поиск" />
    </div> 
    <div class="category_block"> 
      <p>Название категории</p>
      <ul>
        <li><a href="#" >
          <div class="image img1"></div> </a> 
          <p class="set">Название альбома</p>     
        </li>
        <li><a href="#" >
          <div class="image img2"></div> </a> 
          <p class="set">Название альбома</p>     
        </li>
        <li><a href="#" >
          <div class="image img3"></div> </a>
          <p class="set">Название альбома</p>     
        </li>
        <li><a href="#" >
          <div class="image img8"></div> </a>
          <p class="set">Название альбома</p>     
        </li> 
        <li class="other"><div><a href="category.html"  >Ещё...</a></div></li> 
      </ul>
    </div>   
    <div class="category_block"> 
      <p>Название категории</p>
      <ul>
        <li><a href="#" >
          <div class="image img1"></div> </a> 
          <p class="set">Название альбома</p>     
        </li>
        <li><a href="#" >
          <div class="image img2"></div> </a> 
          <p class="set">Название альбома</p>     
        </li>
        <li><a href="#" >
          <div class="image img3"></div> </a>
          <p class="set">Название альбома</p>     
        </li>
        <li><a href="#" >
          <div class="image img8"></div> </a>
          <p class="set">Название альбома</p>     
        </li> 
        <li class="other"><div ><a href="category.html"  >Ещё...</a></div></li> 
      </ul>
    </div> 
    <div class="category_block"> 
      <p>Название категории</p>
      <ul>
        <li><a href="#" >
          <div class="image img1"></div> </a> 
          <p class="set">Название альбома</p>     
        </li>
        <li><a href="#" >
          <div class="image img2"></div> </a> 
          <p class="set">Название альбома</p>     
        </li>
        <li><a href="#" >
          <div class="image img3"></div> </a>
          <p class="set">Название альбома</p>     
        </li>
        <li><a href="#" >
          <div class="image img8"></div> </a>
          <p class="set">Название альбома</p>     
        </li> 
        <li class="other" ><div><a href="category.html"  >Ещё...</a></div></li> 
      </ul>
    </div>
  </body>
</html>