<!doctype html> 
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style/user_style.css" />
    <link rel="stylesheet" type="text/css" href="style/category_style.css" />
    <link rel="shortcut icon" href="style/images/icon.gif" />
    <link rel="stylesheet" href="style/font-awesome-4.4.0/css/font-awesome.min.css" />
    <script type="text/javascript" src="javascript/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="javascript/add_card.js"></script>  
    <title>Категория</title>
  </head>
  <body>
    <div class="header"> 
      <ul>
        <li><a href="add.html"><i class="fa fa-chevron-left"></i> Назад</a></li>
        <li class="active">Категория</li>
        <li><a href="create_set.html">Создать набор</a></li>
        <li><a href="userpage.html">Мои наборы</a></li>
        <li class="last"><a href="index.html"><i class="fa fa-sign-out"></i>Выход</a></li>
      </ul>   
    </div>    
    <div class="center content"> 
    <ul>
      <li><a href="#" >
        <div class="image img7"></div> </a> 
        <div class="description">
          <p class="set">Название альбома</p>
        </div>     
      </li>
      <li><a href="#" >
        <div class="image img8"></div> </a>
        <p class="set">Название альбома</p>     
      </li> 
      <li><a href="#" >
        <div class="image img1"></div> </a> 
        <p class="set">Название набора или альбома</p>     
      </li>
      <li><a href="#" >
        <div class="image img3"></div> </a>
        <p class="set">Название альбома</p>     
      </li> 
      <li ><a href="#" >
        <div class="image img9"></div> </a>  
        <p class="set">Название альбома</p>     
      </li> 
      <li><a href="#" >
        <div class="image img4"></div> </a> 
        <p class="set">Название альбома</p>     
      </li>
      <li><a href="#" >
        <div class="image img5"></div> </a>
        <p class="set">Название альбома</p>     
      </li> 
      <li><a href="#" >
        <div class="image img6"></div> </a>
        <p class="set">Название альбома</p>     
      </li> 
      <li><a href="#" >
        <div class="image img2"></div> </a> 
        <p class="set">Название альбома</p>     
      </li>
      
    </ul> 
    </div> 
  </body>
</html>