<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/style/style.css" />
    <link rel="shortcut icon" href="/style/images/icon.gif" />
    <link rel="stylesheet" href="/style/font-awesome-4.4.0/css/font-awesome.min.css" />
    <script type="text/javascript" src="/javascript/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/javascript/login.js"></script>
    <title>Cards</title>
  </head>
  <body>
  <div class="allin" id="allin"></div>
    <div class="header">Some BIG text</div>    
    <div class="center">  
      <div class="mainImage"></div>
      <div class="right rightText">
        Итак, чем меньше масса черной дыры, тем выше ее температура. Так что по мере того как черная дыра
        теряет массу, ее температура и интенсивность излучения растут.    
        <ul class="list">
          <li>First item of the list</li>
          <li>Second amazing item of the list</li>
          <li>Third item. Very lovely and beautiful</li>
        </ul>
      </div> 
      <div class="regForm" id="regform">
        <div class="topform">
          <div class="formheader"><h5>Sign up</h5></div>
          <i class="fa fa-times closebutton" id="hidereg"></i>
        </div>
        <form name="signup" method="POST">
          <input type="text" name="login" placeholder="login" id="up_focused" />
          <input type="password" name="password" placeholder="password" />
          <input type="email" name="email" placeholder="email" />
          <input class="reg_input_button" type="submit" value="Зарегистрироваться" onclick="submitRegister(); return false;" />
        </form>
      </div>
      <div class="right"><button class="bigFriendlyButton" id = "reg">Sign up</button></div>
      <div class="enterForm" id="enterform">
          <div class="topform">
            <div class="formheader"><h5>Sign in</h5></div>
            <i class="fa fa-times closebutton" id="hide"></i>
          </div>
         <form name="signin" action="http://localhost:8080/user" method="POST">
          <input type="text" name="login" placeholder="login" id="in_focused" />
          <input type="password" name="passwd" placeholder="password" />
          <input class="enter_input_button" type="submit" value="Войти" />
        </form> 
        </div>
      <div class="right"><button class="button" id="enter">Sign in</button></div>
    </div> 
  </body>
</html>