<!doctype html> 
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style/user_style.css" />
    <link rel="stylesheet" type="text/css" href="style/learn_style.css" />
    <link rel="shortcut icon" href="style/images/icon.gif" />
    <link rel="stylesheet" href="style/font-awesome-4.4.0/css/font-awesome.min.css" />
    <script type="text/javascript" src="javascript/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="javascript/login.js"></script>  
    <title>Обучение: категория</title>
  </head>
  <body>
    <div class="header"> 
      <ul>
        <li><a href="userpage.html"><i class="fa fa-pause"></i> Закончить</a></li>
        <li class="active">Категория</li>
        <li class="last"><a href="/exit"><i class="fa fa-sign-out"></i>Выход</a></li>
      </ul>   
    </div>    
    <div class="center1 content"> 
      <div class="card_block">
        <div class="card_image cimg1"></div>
        <p class="card_text">Кто это у нас тут мерзнет на ветке?</p>
      </div>
      <a href="learn2.html" ><div class="flip"><i class="fa fa-reply"></i> Перевернуть</div></a>
      
    </div>
  </body>
</html>