<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style/user_style.css" />
    <link rel="shortcut icon" href="style/images/icon.gif" />
    <link rel="stylesheet" href="style/font-awesome-4.4.0/css/font-awesome.min.css" />
    <script type="text/javascript" src="javascript/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="javascript/userpage.js"></script>  
    <title>Мои наборы</title>
  </head>
  <body>
    <div class="header"> 
      <ul>
        <li class="active">Мои наборы</li>
        <li class="last"><a href="/exit"><i class="fa fa-sign-out"></i>Выход</a></li>
      </ul>   
    </div>    
    <div class="center content">
      <div>
        <ul data-th-each="cardset : ${cardsets}">
          <li data-th-id="${#ids.seq('set')}" class="cardset">
            <a href="learn.html">
              <div class="image" data-th-style="'background-image: url(' + ${cardset.image} + ')'" />
              <p class="set" data-th-text="${cardset.title}">Название набора или альбома</p>
              <div class="big_icons">
                <i class="fa fa-trash-o" id="delete-set1" title="Удалить"></i>
                <a href="edit_set.html" ><i class="fa fa-pencil-square-o" title="Редактировать"></i></a>
              </div>
            </a>
          </li>
        </ul>
        <!--<div ><a class="addlink" href="add.html" >-->
          <!--<div class="image addImg"> <i class="fa fa-plus addIcon fa-5x"></i></div>-->
          <!--<p class="addText">Добавить набор</p> </a>-->
        <!--</div>-->
      </div>
    </div> 
  </body>
</html>